html, body {
  height: 100%;
  background-color: white;
  color: #000000;
}
.nav-item_container {
    font-size: 25px;
}
.header-item_container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.wripper {
    width: 60%;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

.main-item {
    width: 60%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 35px;
}

p {
    text-align: Width;
    text-indent: 30px;
}

footer {
    text-align: center;
}

.nav-container {
    padding: 40px;
    background-color: #c7ffc2;
}
