* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}
html{
  background-color: lightgray;
}
body {
  font-family: "Poppins", sans-serif;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  align-items: center;
  justify-content: center;	
}
h1{
  display: flex;
  align-items: center;
  justify-content: center;	
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;	
}
