* {
    font-family: Arial, Helvetica, sans-serif;
}

kbd {

    background-color: rgb(192, 192, 192);
}

nav {
    background-color: rgb(221, 221, 221);
    margin-inline-end: 1000px;
    padding: 5px;
}

li {
    margin-left: 20px;
}

.soderjanie {
    color: rgb(0, 128, 0);
    padding: 10px;
}

nav p {
    margin-left: 10px;
}

li a {
    color: rgb(0, 128, 0);
    text-decoration: none;
}

.nazad {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 13px;
    margin: 13px;
    background-color: rgb(174, 255, 174);
}