* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}
html{
  background-color: gray;
}
html a{
  text-decoration: none;
  color: black;
}
body {
  font-family: "Poppins", sans-serif;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-login{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
}